/* =====  DATEPICKER CSS CUSTOMIZATION ==== */
.datepicker {
    min-width: 22%;
}
.datepicker-days {
    padding: 0 1rem;
}
.datepicker table tr td.day {
    padding: 10px;
}
.input-group-addon {
    padding: 5px 10px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
/* ===== BOOKING ========================= */
.booking {
    &--form {
        width: 100%;
        height: auto;

        &__icon {
            width: torem(66);
            height: torem(66);
            background: $light-grey;
            border-radius: 50%;
            @include justify-align-center; // ADDED MIXIN FOR FRONT END DEVELOPER EXAM - RENERIO(EXAMINER)
        }
    }

    &--nav {
        background: $white;
        @include flexbox();
        @include justify-content(center);

        &__item {
            padding: $spacing-lg $spacing-xlg;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include align-items(center);

            label {
                font-size: $small;
                color: $black;
                letter-spacing: -0.39px;
                margin-bottom: 0;
                margin-top: $spacing-xs;
            }

            &.active {
                .booking--form__icon {
                    background: $primary-color;
                }

            }
        }
    }

    &--content {
        padding: $spacing-xlg;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        max-height: 400px;
        overflow-y: auto;
        margin-bottom: 2rem;

        label {
            color: #d4d4d4;
        }
        .date {
            width: 100% !important;
        }
        .innput {
            border-color: none;
        }
    }
    &--addflight {
        position: relative;
        @include flex-align-center;
    }
    &--btn {
        margin-top: 25px;
        padding: 0 50px !important;

        .addBtn {
            font-weight: bold;

            .fa-plus {
                margin-right: 10px;
                font-size: 15px;
            }
        }
    }
    &--next {
        position: absolute;
        right: 25px;
        bottom: 10px;
        cursor: pointer;


        h6 {
            color: $primary-color;
            .fa-arrow-right {
                margin-left: 15px;
            }
        }
    }
}